.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;

  &__side {
    height: 30rem;
    background-color: salmon;
    color: white;
    font-size: 2rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    &--front {
      background-color: salmon;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary,
          #a93a3e
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    @include respond(phone) {
      background-size: 115%;
    }
    background-size: 105%;
    height: 40rem;
    &--1 {
      background-image: url(../Images/1.jpg);
    }
    &--2 {
      background-image: url(../Images/2.jpg);
    }
    &--3 {
      background-image: url(../Images/3.jpg);
    }
    &--4 {
      background-image: url(../Images/4.jpg);
    }
    &--5 {
      background-image: url(../Images/5.jpg);
    }
    &--6 {
      background-image: url(../Images/6.jpg);
    }
  }
  &__cta {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include respond(tab-port) {
    height: auto;

    &__side {
      height: 100%;
      position: relative;
      border-radius: 3px;

      &--back {
        transform: rotateY(0);
        padding: 4rem;
        @include respond(tab-port) {
          padding: 2rem;
        }
        @include respond(mini-phone) {
          padding: 2rem;
          margin-top: -6rem;
        }
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
  }
  &__cta {
    position: relative;
    transform: translateX(-6rem);
    width: 100%;
  }
}
.contain {
  transform: translateY(-22rem);
}
